/* Global */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  color: #1b2d45;
}

.center {
  margin: 2rem 5rem;
  padding-top: 1rem;
  text-align: center;
}

/* Navbar */
.nav {
  background-color: #fffffe;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0px 1px 15px 3px rgba(0, 0, 0, 0.15);
}

.nav-container {
  display: flex;
  padding: 10px auto;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 2px;
}

.nav-logo img {
  width: 100%;
  height: 100%;
}

.main-nav {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  display: block;
  border-radius: 50px;
  transition: 0.1s;
  padding: 12px 16px;
  text-decoration: none;
  color: #00214d;
  font-weight: 600;
  font-size: 1rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.main-nav a:hover {
  background-color: rgb(245, 245, 245);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
}

.hamburger-line {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #00214d;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.hamburger.active .hamburger-line:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.hamburger.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -4px);
}

.close {
  display: none;
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    padding: 10px auto;
    justify-content: space-evenly;
    align-items: center;
  }

  .main-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #fde24f;
    overflow-y: auto;
    padding: 4px;
    z-index: 999;
  }

  .main-nav.active {
    display: block;
    margin-top: 60px;
  }

  .main-nav a {
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  .hamburger {
    display: block;
  }
}

/* Hero banner CSS */
#hero-banner {
  min-height: 75vh;
  background-image: url(./../img/hero-background.jpg);
  background-size: cover;
  background-position: right;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-content {
  width: auto;
  padding: 4rem;
}

.hero-image {
  width: 650px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 1px 15px 3px rgba(0, 0, 0, 0.15);
}

.hero-content h1 {
  font-size: 2rem;
}
.hero-content p {
  font-size: 1.2rem;
}

.hero-btn {
  padding: 15px 50px;
  border: none;
  background-color: #00ebc7;
  color: #00214d;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}
.hero-btn:hover {
  opacity: 0.8;
}

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hero-content {
    width: 350px;
    padding: 10px;
  }
  .hero-image {
    width: 350px;
    height: 280px;
    padding: 10px;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

/* Counter CSS */
.counter-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 140px);
  align-items: center;
  text-align: center;
  background-color: #f2f4f6;
  box-shadow: 0px -1px 15px 3px rgba(0, 0, 0, 0.15);
}
.counter-container #item1 {
  grid-column: 2;
}

.counter-container span {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .counter-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 120px);
  }
  .counter-container #item1 {
    grid-column: initial;
  }
  .counter-container span {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
/* 
.counter-container #item1 {
  display: flex;
  justify-content: space-evenly;
} */

/* Partner CSS */
.partner-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 140px);
  align-items: center;
  text-align: center;
  background-color: #fffffe;
}

.partner-container #item1 {
  grid-column: 2;
}

@media (max-width: 992px) {
  .partner-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 140px);
  }
  .partner-container #item1 {
    grid-column: initial;
  }
}

@media (max-width: 768px) {
  .partner-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 120px);
  }
  .partner-container #item1 {
    grid-column: initial;
  }
  .partner-container #item1 img {
    height: 45px;
  }
  .partner-container #item2 img {
    height: 55px;
    width: 55px;
  }
  .partner-container #item3 img {
    height: 45px;
    width: 65px;
  }
  .partner-container #item4 img {
    height: 45px;
    width: 80px;
  }
  .partner-container #item5 img {
    height: 55px;
    width: 55px;
  }
  .partner-container #item6 img {
    height: 30px;
    width: 70px;
  }
}

#aboutCompany {
  background-color: #f2f4f6;
}
#aboutCompany h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

.flex-wrapper {
  display: flex;
  margin: 0 10rem;
  justify-content: center;
}

.why-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.why-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: 1.5rem;
  background-color: #fffffe;
  box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  overflow: hidden;
}

.why-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.why-content {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.why-content h3 {
  color: #00214d;
}
.why-content p {
  color: #1b2d45;
  font-size: 1rem;
}

@media(max-width: 1200px) {
  .flex-wrapper {
    margin: 0 2rem;
  }
}
@media(max-width: 768px) {
  .flex-wrapper {
    margin: 0;
  }
}